@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

/* Change Highlight */
::selection {
  background: rgb(248, 165, 255);
  color: black;
}
::-moz-selection {
  background: rgb(248, 165, 255)
  color: black;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(248, 165, 255);
  font-family: 'Gluten', monospace;
  font-size: 3em;
  margin: 0em auto;
  max-width: 25em;
}
img {
  width: 0.81em;
  margin-bottom: -0.255em;
  padding: 0.1em;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}
.roz {
  background-color: white;
  color: black;
  padding-top: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: 0.2em;
  font-size: 1.3em;
  border-radius: 0.2em;
}

h4 {
  color: white;
  border-bottom: white solid;
  margin-bottom: 0.5em;
}


li {
  list-style: square;
  padding-bottom: 0.1em;
}

.sublist li {
  color: rgb(242, 232, 237);
  font-size: 0.7em !important;
}

a {
  padding: 0.1em;
  border-radius: 0.2em;

}

a:link {
  background-color: rgb(248, 165, 255);
  color: #000;
}

a:visited {
  background-color: rgb(248, 165, 255);
  color: #000;
}

a:hover {
  color: #000;
  background-color: #fff;
}

a:active {
  background-color: #000;
  color: #fff;
}
