:root {
  font-size: 150%;
}

@font-face {
  font-family: "RozeaBlock";
  src: url("./fonts/rozea_block.ttf");
  font-style: normal;
}

body {
  background-image: url("./media/roz_header.avif");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  font-family: "RozeaBlock", monospace, "sans-serif";
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("./media/roz_header_mobile.avif");
  }
}